body{
    background-image: url(../img/0b2f156a-0807-4a89-b6ab-297b4fb25b3f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cadastro {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    width: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(0, 64, 128);
  
}

.borda {
    border: none;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 500px;
    height: 650px;
    margin-top: 100px;
    padding-top: 30px;
    box-shadow: 0px 0px 30px rgba(27, 27, 27, 0.5);
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    text-decoration: none;
    
}

.subTitulo {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: -60px;
    
}

.Logo2 {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.legenda {
    font-size: 18px;
    display: flex;
    margin-left: 80px;
    margin-bottom: -20px;
    color: rgb(218, 218, 218);
    font-family: "Outfit", sans-serif;
    
}

.legenda2 {
    font-size: 18px;
    display: flex;
    margin-left: 80px;
    margin-bottom: -20px;
    color: rgb(218, 218, 218);
    font-family: "Outfit", sans-serif;
}

.legenda3 {
    font-size: 18px;
    display: flex;
    margin-left: 80px;
    margin-bottom: -20px;
    color: rgb(218, 218, 218);
    font-family: "Outfit", sans-serif;
}

.legenda4 {
    font-size: 18px;
    display: flex;
    margin-left: 80px;
    margin-bottom: -20px;
    color: rgb(218, 218, 218);
    font-family: "Outfit", sans-serif;
}

.valor,
.valor2,
.valor3,
.valor4 {
    margin-bottom: 5px;
    background-color:rgba(255, 255, 255, 0);
    height: 20px;
    width: 320px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    font-family: "Outfit", sans-serif;
    font-weight: 1000px;
    padding: 10px;
    border-bottom: 3px solid rgb(221, 221, 221);
    outline: none;
}

.valor5{
    height: 15px;
    width: 15px;
    font-family: "Outfit", sans-serif;
}

.verificar {
    height: 15px;
    width: 15px;
    font-family: "Outfit", sans-serif;
}

.BotaoEnviar {
    font-family: "Outfit", sans-serif;
    margin-top: 10%;
    background-color:rgb(135, 185, 255);
    height: 50px;
    width: 200px;
    color: rgb(29, 29, 29);
    font-size: 25px;
   
    border: 0;
    border-radius: 10px;
    font-weight: 1000px;
    padding: 10px;
    opacity: 70%;
    transition: 0.4s;
    
}

.BotaoEnviar:hover {
    background-color:rgb(42, 91, 250);
    box-shadow: 0px 0px 20px rgb(42, 91, 250);
    height: 50px;
    width: 230px;
    color: rgb(255, 255, 255);
    font-size: 27px;
    border: 0;
    border-radius: 10px;
    font-weight: 1000px;
    opacity: 100%;
    padding: 10px;

}




.animacao {
    height: 400px;
    position: relative;
    margin-top: 350px;
    padding-left: 1400px;
 
}